@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 258 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 100% 97%;
    --secondary-foreground: 258 70% 25%;
    --muted: 258 100% 97%;
    --muted-foreground: 258 25% 40%;
    --accent: 230 100% 97%;
    --accent-foreground: 230 60% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 30% 90%;
    --input: 258 30% 90%;
    --ring: 258 90% 60%;
    --chart-1: 258 90% 60%;
    --chart-2: 224 76% 55%;
    --chart-3: 189 94% 43%;
    --chart-4: 316 73% 52%;
    --chart-5: 42 96% 56%;
    --radius: 0.5rem
  }
  .dark {
    --background: 222 47% 5%;
    --foreground: 0 0% 98%;
    --card: 222 47% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 90% 70%;
    --primary-foreground: 222 47% 10%;
    --secondary: 258 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 258 30% 15%;
    --muted-foreground: 258 15% 70%;
    --accent: 230 30% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 25% 20%;
    --input: 258 25% 20%;
    --ring: 258 90% 70%;
    --chart-1: 258 90% 70%;
    --chart-2: 224 76% 65%;
    --chart-3: 189 94% 53%;
    --chart-4: 316 73% 62%;
    --chart-5: 42 96% 66%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  .container {
    @apply max-w-6xl;
  }
  .text-outline {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6),
      /* Top-left */ 1px -1px 0 rgba(0, 0, 0, 0.6),
      /* Top-right */ -1px 1px 0 rgba(0, 0, 0, 0.6),
      /* Bottom-left */ 1px 1px 0 rgba(0, 0, 0, 0.6); /* Bottom-right */
  }
}